.profile-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  left: 1rem;
  top: 2rem;
  z-index: 1000;
}

@media (max-width: 768px) {
  .profile-container {
    top: 4rem;
  }
}

.profile-circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ccc;
  color: rgb(195, 15, 15);
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-initials {
  text-transform: uppercase;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.user-time {
  font-size: 13px;
  color: #777;
}
